*.suo
*.user
bin/
obj/
.vs/
*.DotSettings.user
.idea/
*.received.*

*.received/
nugets/
src/Verify.Tests/Tests.StreamNegative.verified.bin
src/Verify.Tests/Tests.StreamMultipleNegative.00.verified.bin
src/Verify.Tests/Tests.StreamMultipleNegative.01.verified.bin
src/Verify.Tests/Tests.TextNegative.verified.tmp
*.ncrunchproject
*nCrunchTemp*
*.cache
src/Verify.Tests/NewLineTests.StringWithDifferingNewline.verified.txt
src/Verify.MSTest.Tests/Tests.AutoVerifyHasAttachment.verified.txt
src/Verify.NUnit.Tests/Tests.AutoVerifyHasAttachment.verified.txt
src/Verify.TUnit.Tests/Tests.AutoVerifyHasAttachment.verified.txt
/src/Benchmarks/BenchmarkDotNet.Artifacts
