.vs

*.DotSettings

Nugets/

[Bb]in
[Oo]bj
src/Verify.Tests/Tests.StreamNegative.verified.bin
src/Verify.Tests/Tests.StreamMultipleNegative.00.verified.bin
src/Verify.Tests/Tests.StreamMultipleNegative.01.verified.bin
src/Verify.Tests/Tests.TextNegative.verified.tmp
.idea
.DS_Store
