* text
*.snk binary
*.png binary
*.bmp binary
*.tif binary
*.zip binary
*.nupkg binary

src/Verify/EmptyFiles/* binary

*.verified.txt text eol=lf working-tree-encoding=UTF-8
*.verified.xml text eol=lf working-tree-encoding=UTF-8
*.verified.md text eol=lf working-tree-encoding=UTF-8
*.verified.json text eol=lf working-tree-encoding=UTF-8
*.verified.props text eol=lf working-tree-encoding=UTF-8
*.verified.nuspec text eol=lf working-tree-encoding=UTF-8
*.verified.reentrant text eol=lf working-tree-encoding=UTF-8
*.verified.ComparerDifferentTargets1 text eol=lf working-tree-encoding=UTF-8
*.verified.ComparerDifferentTargets2 text eol=lf working-tree-encoding=UTF-8
*.verified.bin binary

src/.editorconfig text eol=lf working-tree-encoding=UTF-8
*.sln.DotSettings text eol=lf working-tree-encoding=UTF-8
*.slnx.DotSettings text eol=lf working-tree-encoding=UTF-8

*NonStandardEncoding* binary
