* text
*.snk binary
*.png binary
*.bmp binary
*.tif binary
*.zip binary


*.verified.txt text eol=lf working-tree-encoding=UTF-8
*.verified.html text eol=lf working-tree-encoding=UTF-8
*.verified.bin binary

