root = true
# EditorConfig: http://EditorConfig.org

# top-most EditorConfig file

# Verify settings
[*.{received,verified}.{html,txt}]
charset = utf-8-bom
end_of_line = lf
indent_size = unset
indent_style = unset
insert_final_newline = false
tab_width = unset
trim_trailing_whitespace = false