image:
#- macos
- Visual Studio 2019
skip_commits:
  message: /doco|Merge pull request.*/
build_script:
- ps: >-
    dotnet build src --configuration Release

    dotnet test src --configuration Release --no-build --no-restore
# begin-snippet: AppVeyorArtifacts
on_failure:
  - ps: Get-ChildItem *.received.* -recurse | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name }
# end-snippet
test: off
artifacts:
- path: nugets\*.nupkg
