skip_commits:
  message: /docs|Merge pull request.*/
image:
#- macOS
- Visual Studio 2019
build_script:
  - dotnet build src --configuration Release
  - dotnet test src --configuration Release --no-build --no-restore
# begin-snippet: AppVeyorArtifacts
on_failure:
  - ps: Get-ChildItem *.received.* -recurse | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name }
# end-snippet
test: off
artifacts:
- path: nugets\*.nupkg
