image:
  - Visual Studio 2022
  - macOS
# - Ubuntu
environment:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
before_build:
  - pwsh: |
      if ($isWindows) {
        Invoke-WebRequest "https://dot.net/v1/dotnet-install.ps1" -OutFile "./dotnet-install.ps1"
        ./dotnet-install.ps1 -JSonFile src/global.json -Architecture x64 -InstallDir 'C:\Program Files\dotnet'
      }
      if ($isMacOS) {
        Invoke-WebRequest "https://dot.net/v1/dotnet-install.sh" -OutFile "./dotnet-install.sh"
        sudo chmod u+x dotnet-install.sh
        sudo ./dotnet-install.sh --jsonfile src/global.json --architecture x64 --install-dir '/usr/local/share/dotnet'
      }
      if ($isLinux) {
        Invoke-WebRequest "https://dot.net/v1/dotnet-install.sh" -OutFile "./dotnet-install.sh"
        sudo chmod u+x dotnet-install.sh
        sudo ./dotnet-install.sh --jsonfile src/global.json --architecture x64 --install-dir '/usr/share/dotnet'
      }
  - dotnet tool restore --tool-manifest src/.config/dotnet-tools.json
build_script:
  - pwsh: |
      dotnet build src --configuration Release --verbosity quiet
      dotnet test src/DeterministicTests --configuration Release --no-build --no-restore --verbosity quiet
      dotnet test src/FSharpTests --configuration Release --no-build --no-restore --verbosity quiet
      dotnet test src/StaticSettingsTests --configuration Release --no-build --no-restore --verbosity quiet
      dotnet test src/StrictJsonTests --configuration Release --no-build --no-restore --verbosity quiet
      dotnet test src/Verify.ClipboardAccept.Tests --configuration Release --no-build --no-restore --verbosity quiet
      dotnet test src/Verify.ExceptionParsing.Tests --configuration Release --no-build --no-restore --verbosity quiet
      dotnet test src/Verify.Expecto.DerivePaths.Tests --configuration Release --no-build --no-restore --verbosity quiet
      dotnet test src/Verify.Expecto.FSharpTests --configuration Release --no-build --no-restore --verbosity quiet
      dotnet test src/Verify.Expecto.Tests --configuration Release --no-build --no-restore --verbosity quiet
      dotnet test src/Verify.MSTest.SourceGenerator.Tests --configuration Release --no-build --no-restore --verbosity quiet
      dotnet test src/Verify.NUnit.DerivePaths.Tests --configuration Release --no-build --no-restore --verbosity quiet
      dotnet test src/Verify.NUnit.Tests --configuration Release --no-build --no-restore --verbosity quiet
      dotnet test src/Verify.Tests --configuration Release --no-build --no-restore --verbosity quiet
      dotnet test src/Verify.Xunit.DerivePaths.Tests --configuration Release --no-build --no-restore --verbosity quiet
      dotnet test src/Verify.Xunit.Tests --configuration Release --no-build --no-restore --verbosity quiet
      dotnet test src/Verify.XunitV3.Tests --configuration Release --no-build --no-restore --verbosity quiet
      dotnet test src/Verify.XunitV3.DerivePaths.Tests --configuration Release --no-build --no-restore --verbosity quiet
      dotnet test src/Verify.TUnit.DerivePaths.Tests --configuration Release --no-build --no-restore --verbosity quiet
      dotnet test src/Verify.TUnit.Tests --configuration Release --no-build --no-restore --verbosity quiet
      if ($isWindows) {
        vstest.console src/Verify.MSTest.DerivePaths.Tests/bin/Release/net9.0/Verify.MSTest.DerivePaths.Tests.dll /logger:Appveyor
        vstest.console src/Verify.MSTest.Tests/bin/Release/net48/Verify.MSTest.Tests.dll /logger:Appveyor
        vstest.console src/Verify.MSTest.Tests/bin/Release/net9.0/Verify.MSTest.Tests.dll /logger:Appveyor
      }

#- pwsh: |
#    if ($isWindows) {
#      Set-Culture -CultureInfo de-DE
#      dotnet test src --configuration Release --no-build --no-restore
#      Set-TimeZone -Name "Russia TZ 2 Standard Time"
#      dotnet test src --configuration Release --no-build --no-restore
#    }
# begin-snippet: AppVeyorArtifacts
on_failure:
  - ps: Get-ChildItem *.received.* -recurse | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name }
# end-snippet
test: off
after_build:
  - pwsh: |
      if ($isWindows) {
        Get-ChildItem *.nupkg -recurse | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name }
      }